.env
vendor
*.log

# Env files (secrets)
.env
server/.env

# Go build outputs
bin/
dist/
*.exe
*.exe~
*.dll
*.so
*.dylib
*.test
*.out

# Coverage
coverage.out
*.coverprofile

# Logs
*.log

# OS files
.DS_Store
Thumbs.db

# IDE/editor
.vscode/
.idea/
*.swp

.gocache/
.gomodcache
client/node_modules
client/.next
client/.env.local
